/20.c
/20.exe
/a.exe
/calc.c
/circularq.java
/gcd.c
/gcd.exe
/helloworld.c
/helloworld.exe
/LLqueue.java
/marks.c
/marks.exe
/palindrome.c
/palindrome.exe
/power.c
/power.exe
/stackLL.java
/struct.c
/struct.exe
/struct1.c
/struct1.exe
/structure.c
/structure.exe
/tempCodeRunnerFile.java